@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Raleway";
    src: url(/assets/fonts/Raleway-VariableFont_wght.woff);
    src: url(/assets/fonts/Raleway-VariableFont_wght.ttf) format('truetype');
}

body {
    height: 1160px;
    background-color: #782221;

}

main {
    background-color: white;
}

section {
    display: flex;
    justify-content: flex-start;

}

p {
    font-family: "Lato";
    background-color: #dbc2a4;
}

footer {
    background-color: #782221;
}